body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}
/*
    This is a CSS Comment
    Shortcut for adding comment Command +/
*/    

h1{
    color: white;
}
p{
    background-color: lightblue;
}
/*
    Selecting multiple elements to add same style
*/  
h1,
h2,
h3,
h4{
    text-decoration: underline;
}
/* selecting child element start with outer element first */
nav ul{
    list-style: none;
}
/* selecting child elements multiple level */
nav ul a{
    color: darkslategray;
    text-decoration: none;
}
/* selecting html elements with class name */
.orange-text{
    background: darkslategray;
    color: orange;
    text-decoration: none;
}
/* selecting id value for styling the element */
#tow{
    background: orange;
}