
#background{
    margin: auto;
    width: 75%;
    background-color: #d4e9e7;
  }

/* Add Hero image */
#title{
    background-image: url("../images/lone-starfish-wide.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -30px;
}
/* Add border in Navigation */
#aborder{
    border-right:1px solid #484A47;
    border-left:1px solid #484A47;
}

nav a,
nav a:link,
nav a:visited {
    padding: 6px;
    color: #484A47;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 30%;
}

nav a:hover,
nav a:focus {
    background: white;
    text-decoration: underline
    
}

nav a:active{
    box-shadow: 0 0 4px 2px black;
   
}

h1{
    text-align: center;
    line-height: 270px;
    font-size: 35px;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #484A47;
    line-height: 1.5;
    background-color:#aad4cf;
    margin-bottom: 0;
}



p{
    font-size: 10px;
    padding-left: 8px;
    padding-right: 16px;
}

/* Add padding for ul */
ul{
    font-size: 10px;
    padding-left: 21px;
}

h2,
h3{
    font-size: 20px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 16px;
    margin-bottom: 0;
}

/* Change size and float image */
#my-image{
    width: 150px;  
    height: auto;  
    text-align: center;  
    padding: 8px;  
    float: left;
}


/* Copyright alignment to the right */
.site-footer{
    background-color: #d4e9e7;
    text-align: right;
}

.button {
    background-color: #d4e9e7;
    border: 2px solid black
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}