body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    /* adding background image */
    background-image: url("../images/white_brick_wall.png");
    padding-top: 92px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}

/*
    This is a CSS Comment
    Shortcut for adding comment Command +/
*/    

/*
html{
    box-sizing: border-box;
}


h1:before{
    content: "\02D2";
    font-size: 2em;
}

h1::after{
    content:"\02D3"
}


p{
    background-color: lightblue;
}
*/
h1{
    color: white;
}
/*
    Selecting multiple elements to add same style
*/  
h1,
h2,
h3,
h4{
    text-decoration: underline;
}
/* selecting child element start with outer element first */
nav ul{
    list-style: none;
}

nav ul li{
    /* inline display next each otherer but dont care about width padding no effect*/
    /* inline-lock show the pading width */
    display: inline-block;
    width: 49%;
    padding: 1em;
    /* box sixing after padding so can still stay togeter, 1em adding space*/
    box-sizing: border-box;
}


/* selecting child elements multiple level */
nav ul a{
    /*display block take full block entire element*/
    display: block;
    color: darkslategray;
    text-decoration: none;
}
/* selecting html elements with class name */
.orange-text{
    /*to make same height use displat block or display block inline as the content size*/
    padding: 1.5em;
    width: 300px;
    display: block;
    background: darkslategray;
    color: orange;
    text-decoration: none;
}
/* two coloumn layout using float*/
article,
aside{
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    /*space between border and content -moz-animation: margin between 2 element*/
    padding: 1.5em;
    width: 80%;
    box-sizing: border-box;
    float: left;
}
img{
    width: 100%;
}

aside{
    width: 20%;
}

section{
    clear: both;
}
/*use 2 class in the same element*/
.orange-text.large-text{
position: absolute;
right: 0;
bottom: 0;
}


/* selecting id value for styling the element */
#tow{
    position: relative;
    /* color image repeat x-asis y-axis */
    /* adding image background only for this section */
    background: orange url("../images/bread.jpg") no-repeat center center;
    background-size: cover;
    
    /*additional sty;es to make text visible*/
    color: white;
    /* font-size: 24px; */
    /* updating font-size to rem 1.5 x16 = 24*/
    font-size: 1.5rem;
    
    /* adding padding to add space between the border and content */
    padding: 1em 1em 3em 1em; 
    /* 1em = 1x24 = 24px */
    
    /* adding width using viewport width unit normally 50% or 50vw */
    width: 50%;
}
/* we can add multiple classes to one element */
.large-text{
    font-size: 20px;
}
/* Child selector or Direct child selector
    selecting only the p directly inside the article
*/
article>p {
font-size: 24px;
font-weight: bold;
/* font weight values light, bold,normal, bolder or 100,200,300,400...*/
line-height: 1.5;
text-transform: lowercase;
text-align: center;
}

/* adjacent sibling selector 
selecting onlu ul that is adjacent to h3
*/

h3+u {
    border: 1px solid black;
}
/* atribute selector
selecting element that has attribute ofhref set to calue #tow
*/
[href="#tow"]{
    font-weight: bold;
}
[target="_blank"]{
    text-transform: uppercase;
}


nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0, .8);
    z-index: 999;
}
/* using Pseudo Classes
styling Navigation
*/

nav ul a,
nav ul a:link,
nav ul a:visited{
    background: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    /* horizontal vertical blur spread color */
    box-shadow: 0 0 4px 2px black;
}
/* position related selector */
/* first-child selector */
aside ul li:first-child {
    font-weight: bold;
}
/* last-child selector */
section ol li:last-child {
    font-weight: bold;
}

/* collapse table border into one */
table {
    border-collapse: collapse;
}
/* nth-child selector */
tbody tr:nth-child(even) {
    /* hex value for color with 6 characters */
    background-color: #d5836c;
}

/* using the nth-child with n.
where n is 0,1,2,... until the number of the lements */
table th:nth-child(n),
table td:nth-child(n) {
    /* hex color value with 3 characters */
    border: 1px solid #000;
}
/* 2n+1 will be 1,3,5,7... */

table td:nth-child(2n+1) {
    background: rgba(0, 0,0, .2);
}

/* 
    CSS Specificity
    Formula: inline-style ud class tag-name
*/

footer {
    background: aqua;
}

/* 
    adding a style using tag-name
    specificity: 0001
    since it come after, cascade will overwrite the above
*/

footer {
    background:red;
}

/* 
adding a stye using the two tag-names
specificity: 0002
*/
body footer {
    background: cornflowerblue;
}

/* 
    adding a style using class name
    specificity: 0010
*/
.site-footer{
    background-color: orange;
}

/* 
    adding a style using class name and tag name
    specificity: 0011
*/

footer.site-footer {
    background-color: lightgreen;
}
/* CSS box model */
section p{
    width: 50%;

    /* padding 1 em */
    /* top right bottom left */
    /* padding: 1em 1em 1em 1em */

    /* top-bottom left-right */
    padding: 1em .5em;


    /* margin: 2em; */
    /* 2em = 2 x 16 = 32 */

    /* top right bottom left */
    margin: -1em 2em 2em 2em;
   
    /* border 2px */
    border: 2px solid black;
}

/* adding borders as seperator */
aside ul li{
    border-bottom: 1px solid black;
}

aside ul li:last-child {
    border: none;
}