/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
  }
body {
    line-height: 1.5;
  }

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0 0.5em;
}
/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1 {
  font-size: 5.063rem;
}
h2 {
  font-size: 3.375rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
p {
  margin: 1em 0;
}
/* header */


/* Navigation */

.navlink {
  background-color: #222;
  text-align: center;
}

.logo{
  display: block;
  text-align: left;
  background-color: #c78c06;
  margin: 5px 0px;
  padding: 5px;
}

.navlink a,
.navlinkt a:link,
.navlink a:visited{
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #c78c06;
}
.navlink a:hover,
.navlink a:focus,
.navlink a.current {
  color: #222;
  background-color: #c78c06;
}

.search-container{
  width: 100%;
}

.search-container form {
  width: 100%;
}


.contactus container{
  border-width: 1px;
  border-color: #484A47;
  border-style: solid;
  font-size: 16px;
  margin: 10px;
  padding: 10px 10px;
 
}
/* welcome to tree star media */

/* about us */

/* our services */

/* our vission */

/* our team */

/* contact us */

/* location */

/* footer */
.site-footer {
    background-color: #222;
    color: #c78c06;
}


/* ---------------------------------
          Desktop Styles
------------------------------------ */
@media screen and (min-width: 600px){
  html{
      font-size: 16px;
  }
} 