/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
}

body {
  line-height: 1.5;
}


h1,
h2,
h3 {
  font-weight: 600;
}
/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1 {
font-size: 5.063rem;
}
h2 {
font-size: 3.375rem;
}
h3 {
font-size: 2.25rem;
}
h4 {
font-size: 1.5rem;
}
h5 {
font-size: 1rem;
}
p {
margin: 1em 0;
}

.navigation-background{
  background-color: #222;
}

.navlink {
  background-color: #222;
  text-align: center;
}

.site-header{
  background-image: url("../images/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headercontainer {
  background-color: rgba(34, 34, 34, 0.75);
  color: white;
  top:50%;
  transform: translateY(-50%);
}

.headercontainer button{
  display: flex;
  color: #222;
  background-color: #c78c06;
}

.headercontainer button h4{
  vertical-align: middle;
  font-weight: 100;
  font-size: 20px;
  margin-right: 20px;
}

#aboutus {
  padding: 10px;
  background-color: #ffe6ac; 
}

/* ---------------------------------
          Mobile Styles
------------------------------------ */
@media only screen and (max-width: 760px){
  .button {
    background-color: #222;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  /* header */
  /* Navigation */


  .logo{
    display: block;
    text-align: left;
    background-color: #c78c06;
    padding: 20px 0px 5px 0px;
    border-top: 10px solid #222;
    border-left: 10px solid #222;
    border-right: 10px solid #222;
  }

  .navlink a,
  .navlinkt a:link,
  .navlink a:visited{
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #c78c06;
  }
  .navlink a:hover,
  .navlink a:focus,
  .navlink a.current {
    color: #222;
    background-color: #c78c06;
    border-left: 10px solid #222;
    border-right: 10px solid #222;
  }

  .search-container form{
    display: flex;
    align-items: center;
    border-bottom: 15px solid #222;
  }

  .search-container form input{ 
    width: 90%;
    height: 30px;
    margin-left: 20px;
  }

  .search-container form button{
    margin-right: auto;
  }

  .contactus container{
    border-width: 1px;
    border-color: #484A47;
    border-style: solid;
    font-size: 16px;
    margin: 10px;
    padding: 10px 10px;
  }

  /* welcome to tree star media */
  .site-header{
    height: 75vh;
    width: 100%;
  }

  .headercontainer{
    position:absolute;
    padding: 30px 20px 10px 10px;
  }

  .headercontainer button{
    padding: 30px;
  }
  
  .headercontainer button h4{
    vertical-align: middle;
    font-weight: 100;
    font-size: 20px;
    margin-right: 20px;
  }

  /* about us */

  #aboutus {
    padding: 10px;
    background-color: #ffe6ac; 
  }

  .about{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10px;
  }

  /* our services */
  #services {
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    
  }

  .ourservices-container h2{
    padding-left: 10px;
  }

  .ourservices{
    background-color: #ffe6ac;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .ourserviceimage{
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
  }

  .ourservices h3{
    margin-left: 15px;
    margin-top: 15px;
  }

  .ourservices p{
    margin-left: 15px;
  }

  .servicebutton {
    display: flex;
    color: white;
    background-color: #222;
    padding: 30px;
    margin-left: 15px;
  }

  .servicebutton h4{
    vertical-align: middle;
    font-weight: 100;
    font-size: 20px;
    margin: auto;
  }

  .servicebutton h4 i{
    margin-left: 10px;
  }


  /* our vission */

  .vision{
    background-image: url("../images/vision.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    
  }

  .vision div h3{
    margin-left: 15px;
    margin-top: 15px;
  }

  .vision div p{
    margin-left: 15px;
  }

  .visionservicebutton {
    display: flex;
    color: white;
    background-color: #222;
    padding: 30px;
    margin-left: 15px;
  }

  .visionservicebutton h4{
    vertical-align: middle;
    font-weight: 100;
    font-size: 20px;
    margin: auto;
  }

  /* our team */

  #team {
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    
    
  }

  .ourteam-container h2{
    padding-left: 10px;
  }

  .teamname{
    background-color: #ffe6ac;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  .imageteam {
    display: block;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
  }

  .teamname div h3{
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
  }

  .teamname div h5{
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
  }

  .teamname div hr{
    width: 95%;
    border: 1px solid #c78c06;
    margin-top: -2px;
  }

  .teamname div p{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 15px;
  }


  /* contact us */
  .contactform {
    padding: 15px;
  }

  .lineform input{
    margin: auto;
    width: 99%;
  }

  .textareaform textarea{
    width: 99%;
    height: 15vh;
    margin: auto;
    margin-bottom: 20px;
  }
  .contactbutton {
    background-color: #222;
    color: #c78c06;
    border: none;
    padding: 4px
  }

  .contactbutton h4 {
    font-weight: 100;
  }

  /* Hours of operation */

  .hours-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .hourstable table,
  thead,
  th,
  td{
    border: 1px solid black;
    padding: 15px;
    font-weight: 600;
  }

  .hourstable table{
    width: 100%;
  }

  .hourstable table thead{
    text-align: center;
    background-color: #ffe6ac;
  }

  /* location */
  .location-container h3 {
    padding-left: 15px;
  }

  .map iframe{
    box-sizing: border-box;
    border: none;
    padding: 15px;
    height: 75vh;
  }

  /* footer */
  .site-footer {
      margin: 0;
      background-color: #222;
      color: #c78c06;
      padding: 20px 15px 20px 15px;
  }
}



/* ---------------------------------
          Desktop Styles
------------------------------------ */
@media screen and (min-width: 761px){
  html{
      font-size: 16px;
  }

  /* navigation */

  .navlink{
    flex: 1;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    max-width: 1200px;
    margin: auto;
    width: 80%;
  }

  .search-container form{
    display: flex;
    width: 100%;
    margin-right: 100px;
    height: 40px;
  }

  .navlink a,
  .navlinkt a:link,
  .navlink a:visited{
    display: block;
    text-decoration: none;
    padding: 20px 40px 20px 40px;
    color: #c78c06;
  }
  .navlink a:hover,
  .navlink a:focus,
  .navlink a.current {
    color: #222;
    background-color: #c78c06;
  }

  /* site header */
  .site-header{
    height: 100vh;
  }

  .headercontainer{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 50px 30px 20px 20px
  }

  .headercontainer div h1{
    font-size: 100px;
  }

  .headercontainer button{
    padding: 50px;
  }
  
  .headercontainer button h4{
    font-size: 25px;
    margin-right: 20px;
  }

  /*about us*/
  .image {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
  }

  .about{
    width: 49%;
    padding: 0px;
  }

  .image div{
    width: 49%;
    padding: 30px;
  }

  /* our service */
  #services {
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
  }
  .ourservices-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  80px 730px 600px;
    width: 100%;
    margin: auto;
    }

  .ourservices-container h2{
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    padding-left: 10px;
  }

  .ourservices{
    background-color: #ffe6ac;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .ourservices-container  > .ourservices:nth-child(2){
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .ourservices-container > .ourservices:nth-child(3){
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
  }

  .ourservices-container > .ourservices:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .ourservices-container > .ourservices:nth-child(5){
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
  }


  .ourservices-container  > .ourservices:nth-child(6){
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
  }

  .ourserviceimage{
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
  }

  .ourservices h3{
    margin-left: 15px;
    margin-top: 15px;
  }

  .ourservices p{
    margin-left: 15px;
  }

  .servicebutton:nth-child(n+3) {
    display: flex;
    color: white;
    background-color: #222;
    width: 95%;
    margin: auto;
    padding: 25px;
    text-align: center;
  }

  .servicebutton:nth-child(n+3) h4{
    vertical-align: middle;
    font-weight: 100;
    font-size: 20px;
    margin: auto;
  }
  
  .servicebutton:nth-child(n+3) h4 i{
    margin-left: 20px;
  }

  /* our vission */
  
  .vision{
    background-image: url("../images/vision.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
  }

  .vision div{
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  .vision h3{
    margin-left: 15px;
    margin-top: 15px;
    max-width: 1200px;
  }

  .vision p{
    margin-left: 15px;
    max-width: 1200px;
  }

  .visionservicebutton {
    display: flex;
    color: white;
    background-color: #222;
    padding: 30px;
    margin-left: 15px;
  }

  .visionservicebutton h4{
    vertical-align: middle;
    font-weight: 100;
    font-size: 20px;
    margin: auto;
  }

/* our team */

#team {
  background-color: white;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.ourteam-container h2{
  padding-left: 10px;
}

.teamname:nth-child(2){
  display: flex;
  flex-direction: row;
  background-color: #ffe6ac;
}

.teamname:nth-child(3){
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffe6ac;
}

.teamname img{
  flex-basis: calc(50% - 15px);
  order: 1;
}

.teamname div{
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  flex-basis: calc(50% - 15px);
  order:2;
}

.teamname div h3{
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.teamname div h5{
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.teamname div hr{
  width: 95%;
  border: 1px solid #c78c06;
  margin-top: -2px;
}

.teamname div p{
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 15px;
}

/* contact us */
#contact{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.contactus-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 400px 400px;
}




.contactform {
  padding: 15px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.lineform input{
  margin: auto;
  width: 99%;
}

.textareaform textarea{
  width: 99%;
  height: 15vh;
  margin: auto;
  margin-bottom: 20px;
}
.contactbutton {
  background-color: #222;
  color: #c78c06;
  border: none;
  padding: 4px
}

.contactbutton h4 {
  font-weight: 100;
}




}