/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
body {
    line-height: 1.5;
  }


  h1,
  h2,
  h3 {
    font-weight: 600;
  }
/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1 {
  font-size: 5.063rem;
}
h2 {
  font-size: 3.375rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
p {
  margin: 1em 0;
}


.button {
  background-color: #222;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* header */
/* Navigation */

.navigation-background{
  background-color: #222;

}

.navlink {
  background-color: #222;
  text-align: center;
}

.logo{
  display: block;
  text-align: left;
  background-color: #c78c06;
  padding: 20px 0px 5px 0px;
  border-top: 10px solid #222;
  border-left: 10px solid #222;
  border-right: 10px solid #222;
}

.navlink a,
.navlinkt a:link,
.navlink a:visited{
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #c78c06;
}
.navlink a:hover,
.navlink a:focus,
.navlink a.current {
  color: #222;
  background-color: #c78c06;
  border-left: 10px solid #222;
  border-right: 10px solid #222;
}


.search-container form{
  display: flex;
  align-items: center;
  border-bottom: 15px solid #222;
}

.search-container form input{ 
  width: 90%;
  height: 30px;
  margin-left: 20px;
}

.search-container form button{
  margin-right: auto;
}

.contactus container{
  border-width: 1px;
  border-color: #484A47;
  border-style: solid;
  font-size: 16px;
  margin: 10px;
  padding: 10px 10px;
 
}
/* welcome to tree star media */

.site-header{
  background-image: url("../images/main-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  width: 100%;
  position: relative;
}

.headercontainer {
  background-color: rgba(34, 34, 34, 0.75);
  position: absolute;
  color: white;
  top:50%;
  transform: translateY(-50%);
  padding: 30px 20px 10px 10px;
}


.headercontainer button{
  display: flex;
  color: #222;
  background-color: #c78c06;
  padding: 30px;
}

.headercontainer button h4{
  vertical-align: middle;
  font-weight: 100;
  font-size: 20px;
  margin-right: 20px;
}

/* about us */

#aboutus {
  padding: 10px;
  background-color: #ffe6ac; 
}

.about{
  display: block;
  position: relative;
  width: 100%;
  padding-top: 10px;
}

/* our services */
#services {
  background-color: white;
  padding: 10px;
  display: block;
  position: relative;
  width: 100%;
}

.ourservices{
  background-color: #ffe6ac;
  padding-bottom: 15px;
}

.ourserviceimage{
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.ourservices h3{
  margin-left: 15px;
  margin-top: 15px;
}

.ourservices p{
  margin-left: 15px;
}

.servicebutton {
  display: flex;
  color: white;
  background-color: #222;
  padding: 30px;
  margin-left: 15px;
}

.servicebutton h4{
  vertical-align: middle;
  font-weight: 100;
  font-size: 20px;
  margin-right: 20px;
}


/* our vission */

.vision{
  background-image: url("../images/vision.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  
}

.vision h3{
  margin-left: 15px;
  margin-top: 15px;
}

.vision p{
  margin-left: 15px;
}


/* our team */

/* contact us */
.contactbutton {
  background-color: #222;
  color: #c78c06;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }
/* location */

/* footer */
.site-footer {
    background-color: #222;
    color: #c78c06;
}


/* ---------------------------------
          Desktop Styles
------------------------------------ */
@media screen and (max-width: 760px){
  html{
      font-size: 16px;
  }
} 